@using HRMS.Entities;
@model Employee
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card">
                <div class="card-body">

                    <form class="sweetClass" asp-controller="Employee" asp-action="UpdateEmployeeProcess">

                        <div class="form-group">
                            <label class="form-label">Adı</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                            <input type="text" asp-for="FirstName" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="form-label">Soyadı</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                            <input type="text" asp-for="LastName" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input type="text" asp-for="Email" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="form-label">Telefon Numarası</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            <input type="text" asp-for="PhoneNumber" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="form-label">Doğum Tarihi</label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            <input type="date" asp-for="DateOfBirth" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="form-label">Pozisyon</label>
                            <span asp-validation-for="Position" class="text-danger"></span>
                            <input type="text" asp-for="Position" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="form-label">Ücret</label>
                            <span asp-validation-for="Salary" class="text-danger"></span>
                            <input type="text" asp-for="Salary" class="form-control" />
                        </div>

                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="UserId" />

                        <button class="btn btn-primary d-grid w-100">Çalışanı Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section ScriptToPage {

    <script>

        $(document).ready(function () {
            $('#fileInput').change(function () {
                var file = this.files[0];
                var fileType = file.type.toLowerCase();
                if (fileType === 'image/jpeg' || fileType === 'image/jpg' || fileType === 'image/png') {

                } else {
                    Swal.fire({
                        title: 'Hata!',
                        text: 'Sadece JPG, JPEG veya PNG dosyaları kabul edilir.',
                        icon: 'error',
                        showConfirmButton: true
                    });
                    $('#fileInput').val('');
                }
            });
        });


        $(document).ready(function () {
            $('.sweetClass').submit(function (e) {
                e.preventDefault();

                Swal.fire({
                    title: 'Onay',
                    text: 'Devam etmek istiyor musunuz?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Evet',
                    confirmButtonColor: '#3085d6',
                    cancelButtonText: 'Hayır',
                    cancelButtonColor: '#a0153e',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        var formData = new FormData($(this)[0]);
                        $.ajax({
                            url: $(this).attr("action"),
                            method: $(this).attr("method"),
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        title: 'Başarılı',
                                        text: response.message,
                                        icon: 'success',
                                        showConfirmButton: true
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Hata!',
                                        text: response.message,
                                        icon: 'error',
                                        showConfirmButton: true
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    title: 'Hata!',
                                    text: response.message,
                                    icon: 'error',
                                    showConfirmButton: true
                                });
                            }
                        });
                    }
                });
            });
        });


    </script>

}